<div class="row">
  <div class="column column-25">
    <h2>Score</h2>
    <p>
      <div><%= @game.wins %> Victoires</div>
      <div><%= @game.losses %> Défaites</div>
    </p>
    <h2>Joueurs</h2>
    <ul>
      <%= for {id, user} <- @game.players do %>
        <li>
          <%= if id == @current_user do %><span title="Moi">👤</span><% end %>
          <%= if id == @game.guesser do %>
            <strong><%= user.name %></strong>
          <% else %>
            <%= user.name %>
          <% end %>
          <%= if id == @game.guesser do %><span title="Actif">⭐</span><% end %>
          <%= if Map.has_key?(@game.clues, id) do %><span title="Indice envoyé">👍</span><% end %>
        </li>
      <% end %>
    </ul>
    <%= if @game.state != :waiting_for_players and @game.state != :ready do %>
      <button phx-click="reset_vote">Annuler</button>
      <%= if @game.reset_votes != %{} do %>
        <p>Votes: <%= Enum.count(@game.reset_votes) %>/<%= Enum.count(@game.players) %></p>
      <% end %>
    <% end %>
  </div>
  <div class="column column-75">
    <%= if @game.state == :waiting_for_players do %>
      <p>Il faut au moins 3 joueurs pour commencer la partie.</p>
      <p>En attente de plus de joueurs...</p>
    <% end %>

    <%= if @game.state == :ready do %>
      <p>Vous pouvez maintenant démarrer une partie à <%= Enum.count(@game.players) %> joueurs.</p>
      <button phx-click="start_game">Démarrer</button>
    <% end %>

    <%= if @game.state == :enter_clues do %>
      <%= if @current_user == @game.guesser do %>
        En attente des indices des autres joueurs...
      <% else %>
        <p>Le mot mystère est <strong><%= @game.word %></strong></p>
        <p>Entrez un indice pour aider le joueur actif à deviner ce mot.</p>
        <p>Votre indice doit être un seul mot. Tous les mots identiques ou invalides seront annulés.</p>
        <%= if @game.clues[@current_user] do %>
          Votre indice est: <strong><%= @game.clues[@current_user] %></strong>
        <% end %>
        <form phx-submit="add_clue" autocomplete="off">
          <input type="text" name="word"/>
          <input type="submit" value="Envoyer"/>
        </form>
      <% end %>
    <% end %>

    <%= if @game.state == :validate_clues do %>
      <%= if @current_user == @game.guesser do %>
        En attente de la validation des indices des autres joueurs...
      <% else %>
        <p>Le mot mystère est <strong><%= @game.word %></strong></p>
        <p>Veuillez supprimer tous les mots identiques ou invalides dans la liste ci-dessous:</p>
        <table>
          <thead>
            <tr>
              <th style="width: 30%">Joueur</th>
              <th style="width: 30%">Indices valides</th>
              <th style="width: 5%"></th>
              <th style="width: 30%">Indices supprimés</th>
              <th style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>
            <%= for {id, clue} <- @game.clues do %>
              <tr>
                <td><%= @game.players[id].name %></td>
                <%= if Map.has_key?(@game.valid_clues, id) do %>
                  <td><%= clue %></td>
                  <td><button phx-click="invalidate_clue" phx-value-id="<%= id %>" title="Supprimer">❌</button></td>
                  <td></td>
                  <td></td>
                <% else %>
                  <td></td>
                  <td></td>
                  <td><del><%= clue %></del></td>
                  <td><button phx-click="validate_clue" phx-value-id="<%= id %>" title="Restaurer">⏪</button></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <button phx-click="validation_vote">Validation terminée</button>
        <%= if @game.validation_votes != %{} do %>
          <p>Votes: <%= Enum.count(@game.validation_votes) %>/<%= Enum.count(@game.players) - 1 %></p>
        <% end %>
      <% end %>
    <% end %>

    <%= if @game.state == :guess_word do %>
      <%= if @current_user == @game.guesser do %>
        <h2>Vos indices</h2>
        <ul>
          <%= for {_id, clue} <- @game.valid_clues do %>
            <li><%= clue %></li>
          <% end %>
        </ul>
        <p>Devinez le mot mystère à l'aide des indices.</p>
        <form phx-submit="guess_word" autocomplete="off">
          <input type="text" name="word"/>
          <input type="submit" value="Envoyer"/>
        </form>
      <% else %>
        <h2>Les indices</h2>
        <ul>
          <%= for {_id, clue} <- @game.valid_clues do %>
            <li><%= clue %></li>
          <% end %>
        </ul>
        <p>En attente de la réponse du joueur actif...</p>
      <% end %>
    <% end %>

    <%= if @game.state == :guess_vote do %>
      <%= if @current_user == @game.guesser do %>
        <p>Vous avez écrit <strong><%= @game.word_tried %></strong>.</p>
        <p>Le mot était <strong><%= @game.word %></strong>.</p>
        <p>En attente du vote des autres joueurs...</p>
      <% else %>
        <p>Le joueur actif a écrit <strong><%= @game.word_tried %></strong>.</p>
        <p>Le mot était <strong><%= @game.word %></strong>.</p>
        <p>Est-ce que le mot est bon?</p>
        <button phx-click="win_vote" phx-value-vote="win">Oui 👍</button>
        <button phx-click="win_vote" phx-value-vote="lose">Non 👎</button>
        <%= if Map.has_key?(@game.win_votes, @current_user) do %>
          <p>Votre réponse : <strong><%= if @game.win_votes[@current_user] == :win, do: "Oui 👍", else: "Non 👎" %></strong></p>
        <% end %>
      <% end %>
    <% end %>

    <%= if @game.state == :win do %>
      <h2>Victoire!</h2>
      <p>Le mot était bien <strong><%= @game.word %></strong>!</p>
      <button phx-click="start_game">Rejouer</button>
    <% end %>

    <%= if @game.state == :lose do %>
      <h2>Échec</h2>
      <p>Le joueur actif a écrit "<%= @game.word_tried %>".</p>
      <p>Le mot était <strong><%= @game.word %></strong>.</p>
      <button phx-click="start_game">Rejouer</button>
    <% end %>
  </div>
</section>
